body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page li {
  font-size: 1.2em;
  background: 0 0;
  border-radius: 0;
  border-width: 0 0 1px;
  border-color: rgba(33, 37, 41, 0.125);
  border-style: solid;
  line-height: 1.5em;
  padding: 1.09em .84em 1.23em .84em;
}
.page li:last-child {
  border: 0;
}